@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}

*:focus {
    box-shadow: none !important;
}


/* Clear Buttons */

#clearButton {
    padding: 5px 10px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

#addUser {
    font-weight: 800;
    font-size: 16px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#taskUser {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#search {
    width: 250px;
    height: 32px;
    margin-bottom: 15px;
    border-radius: 3%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.list-group a {
    color: black;
    cursor: pointer;
}

.list-group a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.icon {
    font-size: 25px;
    margin: 0 15px;
}